{% extends 'layout.html' %}

{% block content %}
    <div class="Box">
        <form method="POST" action="" class="form-login">
            {{ form.hidden_tag() }}
                <h2 style="margin-bottom: 50px; display: flex; justify-content: center;">Edit Profile</h2>
            
                <div class="">
                    {{ form.username.label(class="label") }}

                    {% if form.username.errors%}
                        {{ form.username(class="") }}
                        <div class="">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="Input-box") }}
                    {% endif %}

                </div>
                <br>
                <div class="">
                    {{ form.fullname.label(class="label") }}

                    {% if form.fullname.errors%}
                        {{ form.fullname(class="") }}
                        <div class="">
                            {% for error in form.fullname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fullname(class="Input-box") }}
                    {% endif %}

                </div>
                <br>
                <div class="">
                    {{ form.bio.label(class="label") }}

                    {% if form.bio.errors%}
                        {{ form.bio(class="") }}
                        <div class="">
                            {% for error in form.bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bio(class="Input-box") }}
                    {% endif %}

                </div>
                <br>
                <div class="">
                    {{ form.profile_pic.label(class="form-control-label") }}
                    {{ form.profile_pic(class="form-control-file") }}
                    {% for error in form.profile_pic.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>

            <div class="Info">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <br>
            <a href="{{ url_for('resetpassword') }}">Reset Password</a>
            

        </form>
    </div>
{% endblock content %}