{% extends 'layout.html' %}

{% block content %}
    <div class="buttons" style="display: flex; flex-direction: row; padding: 10px; border-radius: 10px; margin: 3px;">
        <a class="btn2" href="{{ url_for('index') }}" style="border-radius: 10px; width:100px; height:30px; color:black;display: flex; justify-content: center; align-items: center; background-color: rgb(207, 207, 207); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-decoration: none;">Home</a>
        <a class="btn2" href="{{ url_for('profile', username=current_user.username) }}" style="border-radius: 10px; width:100px; height:30px; color:black;display: flex; justify-content: center; align-items: center; background-color: rgb(207, 207, 207); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-decoration: none;">Profile</a>
        <a class="btn2" href="{{ url_for('logout') }}" style="border-radius: 10px; width:100px; height:30px; color:black;display: flex; justify-content: center; align-items: center; background-color: rgb(207, 207, 207); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-decoration: none;">Logout</a>
    </div>
    <div class="form-box" style = "border: 2px black solid; border-radius: 10px; padding: 10px;">
        <h2 style="display:flex; justify-content:center; align-items:center;">Create A New Post</h2>
        <br>
        <form method = "POST" enctype = "multipart/form-data">
            {{ form.hidden_tag() }}
            <div class = "form-group" >
                {{ form.post_pic.label(class = "form-control-label") }}
                {{ form.post_pic(class = "caption") }}
                {% for error in form.post_pic.errors %} 
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br>
            <div class = "form-group">
                {{ form.caption.label(class = "label") }}
                {{ form.caption(class = "caption") }}
                {% for error in form.caption.errors %} 
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="post-container">
        {% for post in posts %}
            <div class="post" style = "border: 2px black solid;margin-bottom: 10px; padding: 5px; border-radius: 10px;">
                <div class="post-header" style="display: flex; gap: 10px;">    
                    <a href="{{ url_for('profile', username=current_user.username) }}" style="text-decoration: none; color: inherit; border-radius: 50px; height: 15px; width: 40px;">
                        <img src="{{ url_for('static', filename=current_user.profile_pic) }}" alt="Post owner" style="object-fit: cover ; margin:4px; height: 50px; width:50px; border-radius: 50px;">
                    </a>
                    <h2 style="margin-left: 10px;">{{ post.posts_owner.username }}</h2>
                    <a href="{{ url_for('edit_post', post_id=post.id)}} " style="margin-left: 360px; text-decoration: none; color: inherit; background-color: rgb(207, 207, 207); color: black; height: 18px; border: 1px  solid; border-radius: 3px;">Edit</a>
                </div>
                
                <img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image" style="max-width: 100%; max-height: 230px; border: 1px rgb(221, 221, 221) solid; box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);">
                <p>{{ post.caption }}</p>

                <div class="post-footer">
                    <span id="likeBtn" data-post-id="{{ post.id }}">❤️</span><span id="likeCounter">{{post.likes | length}}</span>
                    <span id="commentBtn" data-post-id="{{ post.id }}">💭</span><span id="commentCounter">{{ post.comments | length}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        document.querySelectorAll("#likeBtn").forEach(btn => {
            btn.addEventListener('click', function(){
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://127.0.0.1:5000/like', true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log(response.status);
                    } 
                };
                const data = JSON.stringify({ 'postId': this.dataset.postId });
                xhr.send(data);
            })
        })
    </script>
    <div class="pagination-box" style="border-radius: 10px; border:2px black solid;">
        {% for page_number in posts.iter_pages() %}
            {% if page_number == posts.page %}
                <a href="{{ url_for('index', page=page_number) }}" style="color: red;">{{page_number}}</a>
            {% else %}
                <a href="{{ url_for('index', page=page_number) }}" style="color: black;">{{page_number}}</a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}