{% extends 'layout.html' %}

{% block content %}
	<div class="Box">
        <form method="POST" action="">
			{{ form.hidden_tag() }}
				<h2 style="margin-bottom: 30px; display: flex; justify-content: center;">Login</h2>

				<div class="Form-Username">
					{{ form.username.label(class="label") }}

					{% if form.username.errors%}
						{{ form.username(class="Input") }}
						<div class="">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="Input-box") }}
					{% endif %}

				</div>

				<div class="Form-Password">
					{{ form.password.label(class="label") }}

					{% if form.password.errors%}
						{{ form.password(class="Input") }}
						<div class="">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="Input-box") }}
					{% endif %}

				</div>
			<div class="Info">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
			<small class="Info2" >
				<a href="{{ url_for('forgotpassword') }}">Lupa Kata Sandi?</a>
				<br>
				<a href="{{ url_for('signup') }}">Belum punya akun ?</a>
			</small>

		</form>
		
	</div>
{% endblock content %}